*{
	margin: 0;
	padding: 0;
}

/* body > div {
		display: block;
		margin-left: 20px;
		margin-top: 10px;
		
	} */

a{
    text-decoration: none;
    font-size: 60px;
    color: brown;
}
a :hover{
    color: burlywood;

}

.list_r{
	padding-left: 10rem;
	/* background-color: #fff; */
}

.menu{
		width: 100%;
		height: 12vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #082032;
}
	
.menu__links{
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.menu__item{

	padding: 0 1rem;
}

.menu__link{
	font-size: 1.5rem;
	color: #ffff;
	  font-family: 'Montserrat', sans-serif;

    font-weight: bolder ;  
}

.Contenedor{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.9rem 0;
}

.exemples {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	
}

.item{
min-width: 1520px; 
	/* width: 100%; */
height: 100vh;
}

.imagen{

	height: 72.5vh;
}

/* style="margin-left: 0px; width: 50rem; height: 550px;" */

.Controles{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contenedor_bars{
	display: flex;
	align-items: center;
}



@media screen and (max-width:800px) {
	.contenedor_bars{
		position: absolute;
		top: 5.8rem;
		left: 0;
		background-color: #082032;
		width: 100%;
		height: 7vh;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.list_r{
		display: none;
	}

	.menu__link{
		font-size: 1rem;
	}

	

}

