*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorTitulo1:#111;
    --color1:#111;
    --colorSlider: #FFF;
    --colorCarrusel: #FFF;
    --fondoNavegacion: #082032;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}



.menu__item{
        margin-right: 1rem;
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link:hover{
    background-color: #5e7094;
}

  .menu__nesting1{
        list-style: none;
        transition:clip-path .3s;
        clip-path: var(--clip);
        position: absolute;
        top: 4rem;
        left: -8rem;
        bottom: 0;
        width: 40rem;
        height: 60vh;
        border-radius: 10px;
        backdrop-filter: blur(20px);
        background-color: rgba(255,255,255, 0.285);
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
        z-index: 10000;
    }
.Contenedor__nesting1{
    display: flex;
    width: 40rem;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    position: relative;
    top: 1.2rem;
    padding:  0;
}

.list__show {
    margin-top: 1.5rem;
    margin-left: 2rem;  
}

.list__show li{
    padding-bottom: .8rem;
}

.list__show li .nav_item {
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bolder;
    color: #111; 
}

.img{
    width: 30rem;
    position: absolute;
    top: 1rem;
    left:12rem;
} 

.Text {
    border-radius: 50px;
    box-shadow:  6px 6px 12px #b8b1b1,  -6px -6px 12px #ffffff;                
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: auto;
    font-family: 'Montserrat', sans-serif;

    font-weight: bolder ;  
}

.Circle{
    position: absolute;
    clip-path: circle(26.4% at 44% 52%);
    cursor: pointer;
    transition: width height.4s ease-in-out;
}

.C1  {
    top: 1.8rem;
    left:  22.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #FA7D09;
}

.Text1{
    top: 1.5rem;
    left:  23.8rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 12px;
    color: #082032;
    width: 80px;
    height: 22px;
    transition: all 2s ease;  
}

.C2  {
    top: 2.8rem;
    left:  23.1rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #041C32;
}

.Text2{
    top: 2.5rem;
    left:  17rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 12px;
    color: #082032;
    width: 90px;
    height: 22px;
    transition: all 2s ease;
}

.C3  {
    top: 4rem;
    left: 23.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f5f;
}

.Text3{
    top: 4rem;
    left:  25rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 12px;
    color: #082032;
    width: 60px;
    height: 20px;
    transition: all 2s ease;
}

.C4  {
    top: 5rem;
    left:  24rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f54;
}

.Text4{
    top: 5rem;
    left:  19rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 12px;
    color: #082032;
    width: 80px;
    height: 20px;
    transition: all 2s ease;
}

.C5  {
    top: 6.1rem;
    left:  24.2rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #B45;
}

.Text5{
    top: 6.2rem;
    left:  25.5rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 12px;
    color: #082032;
    width: 58px;
    height: 22px;
    transition: all 2s ease;
}

.C6  {
    top: 7.3rem;
    left:  24.2rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f54;
}

.Text6{
    top: 7.8rem;
    left:  19rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 12px;
    color: #082032;
    width: 80px;
    height: 22px;
    transition: all 2s ease;
}

.C7  {
    top: 16.4rem;
    left:  20.2rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #f5f;
}

.Text7{
    font-size: 12px;
    top: 16rem;
    left: 15rem;
    color: #082032;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 80px;
    height: 22px;
    transition: all 2s ease;
}

.C8  {
    top: 17rem;
    left:  22rem;
    background-color: #B45;
    width: 1.5rem;
    height: 1.5rem;                        
}

.Text8{
    font-size: 12px;
    font-weight: 600;
    width: 58px;
    height: 22px;
    top: 17rem;
    left: 24rem;
    color: #082032;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    transition: all 2s ease;
}

 .menu__nesting2{
    transition:clip-path .3s;
    clip-path: var(--clip);
      position: absolute;
    left:  -10rem;
    top: 4rem;
    width: 48.5rem;
    height: 85vh;
    list-style: none;
    background:none; 
    z-index: 100;
    overflow: hidden;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255, 0.285);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    background-color: rgba(255,255,255,0.4); 
    }

.contenedor_agenda{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25px, 40px)) ;
    gap: 9rem;
    padding-top: 2rem;
    padding:2rem 10px 10px 10px ;
}

.figure{
    margin:.2rem .8rem;
    width: 12.4em;
    height: 9.7rem;
    background-color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 0px rgba(40,40,40,0.35) solid;
    border-right: 0px rgba(40,40,40,0.35) solid;
    border-radius: 5px;
}

.figure_img{
    width: 12.4rem;
    height: 8rem;       
}

.figure_caption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: #111;
}

/* Menu */

.Opcion__Principal {
    height: 100%;
    list-style: none;
    position: relative;
}

.Direccion__1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 35px;
    color: white;
}


/* diseño de Submenus  */

.Lista__SubMenu{
    width: 250px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
     border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255, 0.285);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    background-color: rgba(255,255,255,0.4);
}

.Opcion__Principal:hover .Lista__SubMenu {
    visibility: visible;
    opacity: 1;
    top: 70px;

}

.Lista__SubMenu:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(255,255,255,0.4);
    backdrop-filter: blur(20px);
  
    position: absolute;
    top: -12px;
    left: 20px;
}

.Direccion__2{
    display: block;
    color: black ;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    font-weight:3.5 em;
}

.Direccion__2:hover {
    background: #162e44;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.icon__menu{
    font-size: 26px;
    color: white;
    width: 26px;
    height: 100%;
    align-items: center;
    display: none;
    padding: 15px;
}
#label__check{
    width: 26px;
    height: 100%;
    display: none;
}
#check__menu{
    display: none;
}

/* Diseño de parte main*/
.Contenedor{
    display: flex;
    flex-wrap: wrap;
}
.flex__container,
.Flex__Contenedor
 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
   
}

.flex__item__1{
    background-color: rgba(255 255 255);
    width: 100%;
    height: 100vh;
      -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 1rem 1.2rem;

}

.flex__item__2{
    width: 100%;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    height: 50vh;
}

.Contenedor__item__1
{
    order: 1;
      -webkit-order: 1;
    -ms-flex-order: 1;
    background-color: #F5F6F7;
    width: 100%;
    height: 70vh;
}

.Contenedor__item__2
{
    order: 2;
    height: 100vh;
    margin-bottom: 0rem;
}

.imagen__flex{
    width: 100%;
    height: 50vh;
}

.Titulo__Principal h3,
.encabezado h3{
    color: rgb(59 61 66);
    font-size: 3.313rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    padding: 0rem  1rem; 
    line-height: 1;
    text-transform: capitalize;
}

.encabezado h3{
    margin-top: 1.8rem;
}

.Descripcion__ST,
.Descripcion{
    text-transform: capitalize;
    text-align: justify;
       color: rgb(93 93 93);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.Descripcion__ST{
    padding: 0 2rem;
    font-size: 18px;
    margin-bottom: 1rem;
}

.Descripcion{
    font-size: 18px;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

b{
    font-weight: bolder;
}

.btn{
      font-family: "Work Sans", Sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(40,40,40);
    border-radius: 19px 19px 19px 19px;
    padding: 9px 30px 9px 30px;
    border: 2px solid rgb(40,40,40) ;
    
}

/* cards estilos  */
.card__flexible{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

.card__item__flexible{
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__cards__flexible{

    color: rgb(255 255 255 );
    text-decoration: none;
    text-shadow: 2px 2px 2px #000;
    /* font-size: 3.313rem; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    padding: .8rem  1rem; 
    line-height: 1;
    text-transform: capitalize;
    position: absolute; 
    left: 0;
    right: 0;
    bottom: 2rem;
    cursor: pointer;
}


.text__cards__flexible:hover{
   border-bottom: 5px solid  cadetblue;
   margin-bottom: 0;
   color: #fff;
   font-size: 2rem;
}

.text__cards__flexible--T
{
    font-size: 2rem;
    bottom: 1.8rem;
}
.text__cards__flexible--G{
    font-size: 2.9rem;
    bottom: 1.8rem;

}

.text__cards__flexible--L{
    font-size:2.9rem;
}

.text__cards__flexible--F{
    font-size:2.9rem;
}

.img__card__flexible{
    width: 100%;
    height: 50vh;
}


/* Footer */
.Footer{
    width: 100%;
    background-color: var(--fondoNavegacion);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 19.7rem;
}

.Footer__Redes__Sociales{
    display: flex;
    justify-content: space-around;
}

.Foteer__R{
    padding: 0 1.8rem;
}

.Foteer__R a{
    color: var(--colorSlider);
    font-size: 1.5rem;
    opacity: .5;
}

.Foteer__R a:hover{
    opacity: 1;
}

.Footer__Description {
    font-size: 15px;
    padding: 20px;
    color: var(--colorSlider);
}

@media screen and (max-width:380px) {
    .Titulo__Principal,
    .encabezado h3{
        font-size: 1.8rem;
    }
    .flex__item__1{
        height: 110vh;
    }
    .Contenedor__item__1{
        height: 60vh;
    }
    .Descripcion,
    .Descripcion__ST{
        font-size: 15px;
    }
}

@media screen and (min-width:790px) {
    .Footer{
        margin-top: -5rem;
    }
    .flex__container,
    .Flex__Contenedor{
        flex-direction: row;
    }

     .flex__item__1{
        order: 2;
        flex: 2 1 79.8%;
        height: 100vh;
    }

    .flex__item__2{
        order: 1;
        flex: 1 1 75.8%;
    }

        .Contenedor__item__1
    {
        /* order: 1; */
        flex: 2 1 72.5%;
        height: 100vh;
    }
    .Contenedor__item__2
     {
        flex:1 1 78%; 
    }

    .imagen__flex{
        height: 100vh;
    }
 
    .Descripcion__ST{
        font-size: 15px;
    }

    .card__flexible{
    
    flex-direction: row;
    /* width: 100%; */
    height: 100vh;
    margin-top: -3.9rem;
    margin-bottom: 1rem;
}

.card__item__flexible{
    /* width: 50%; */
    height: 80vh;
    left: 0;
}

.text__cards__flexible{
    font-size: 1.1rem;
    
}


.img__card__flexible{
    height: 85vh;
}



.footer__logo{
    padding-top: 2.5rem;
}

}

 @media screen and (min-width:1024px)
{
  

    .encabezado h3{
        margin-top: 5rem;
        margin-bottom: 2.8rem;
    }

    .btn{
        font-size: 20px;
        margin-top: 1rem;
    }

    .Descripcion{
    font-size: 20px;
    padding: 0 3.8rem;
    }

    .Titulo__Principal
    {
            margin-top: 2rem;
    }

    .Descripcion__ST{
    font-size: 18px;
    padding: 0 2rem;
    }
    .text__cards__flexible{
        font-size: 25px;
    }
    .card__flexible{
        margin-bottom: 0px;
        padding: 0;
    }
    .Flex__Contenedor{
        margin-bottom: -0px;
    }

     .Footer__Description{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:980px){
    .Titulo__Principal,
    .encabezado h3{
        margin-top: 3rem;
    }
    .Descripcion__ST,
    .Descripcion{        
        margin-top: 2rem;
    }

    .btn{
    
    margin-top: 2rem;}
}
         
